@media (max-width: 1600px) {
    .container {
        width: 1270px;
    }

    .main {
        min-height: 990px;
    }

    .promo {
        padding-top: 85px;
        min-height: 860px;

        &__image {
            width: 475px;
        }

        &__image-before {
            width: 470px;
        }

        &__image-after {
            width: 750px;
        }
    }
}

@media (max-width: 1500px) {
    .container {
        width: 1200px;
    }

    .main {
        min-height: 975px;
    }

    .promo {
        padding-top: 80px;
        min-height: 845px;

        &__image-before {
            width: 450px;
        }

        &__image-after {
            width: 700px;
        }

        &__text {
            width: 600px;
            margin-left: 100px;
        }
    }

    .modal {

        &__dialog,
        &__thanks {
            width: 1040px;
        }
    }
}

@media (max-width: 1400px) {
    .container {
        width: 1140px;
    }

    .main {
        min-height: 875px;
    }

    .promo {
        padding-top: 70px;
        min-height: 834px;

        &__image {
            width: 440px;
        }

        &__image-before {
            width: 420px;
            bottom: 25px;
        }

        &__image-after {
            width: 650px;
        }

        &__text {
            margin-left: 90px;
        }

        &__subtitle {
            font-size: 26px;
        }

        &__title {
            font-size: 32px;
        }
    }

    .modal {

        &__dialog,
        &__thanks {
            width: 1000px;
        }
    }
}

@media (max-width: 1300px) {
    .header {
        padding-top: 30px;
    }

    .promo {
        padding-top: 60px;
        min-height: 841px;

        &__image {
            width: 420px;
        }

        &__image-before {
            width: 400px;
            bottom: 30px;
        }

        &__image-after {
            width: 585px;
        }

        &__text {
            margin-left: 75px;
        }
    }

    .modal {

        &__dialog,
        &__thanks {
            width: 940px;
        }
    }
}

@media (max-width: 1199px) {
    .container {
        width: 960px;
    }

    .main {
        min-height: 100vh;
    }

    .promo {
        min-height: 570px;

        &__image-before {
            display: none;
        }

        &__image-after {
            width: 430px;
        }

        &__text {
            padding-top: 80px;
        }

        &__subtitle {
            font-size: 24px;
        }

        &___title {
            font-size: 28px;
        }
    }

    .modal {

        &__dialog,
        &__thanks {
            width: 800px;
        }

        &__thanks {
            padding: 165px 0;
        }
    }
}

@media (max-width: 991px) {
    .container {
        width: 750px;
    }

    .promo {
        &__inner {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__subtitle-medium {
            display: block;
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            color: #ffc179;
            margin: 0 auto 25px;
            width: 600px;
            text-align: center;
        }

        &__subtitle {
            display: none;
        }

        &__text {
            padding-top: 45px;
            margin-left: 0;
        }

        &__image-after {
            width: 285px;
            bottom: 40px;
        }
    }

    .modal {

        &__dialog,
        &__thanks {
            width: 700px;
        }

        &__thanks {
            padding: 135px 0;
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 540px;
    }

    .header {
        padding-top: 20px;

        &__logo {
            img {
                width: 250px;
            }
        }

        &__button {
            height: 55px;
        }
    }

    .button {
        font-size: 20px;
        line-height: 24px;
    }

    .promo {
        &__subtitle-medium {
            width: 540px;
        }

        &__text {
            width: 540px;
        }

        &__title {
            font-size: 27px;
        }

        &__arrow {
            margin-left: 9px;
        }

        &__image-after {
            bottom: 65px;
        }
    }

    .modal {

        &__dialog,
        &__thanks {
            width: 500px;
        }

        &__thanks {
            padding: 100px 0;
        }

        &__dialog-form {
            width: 400px;
        }

        &__dialog-close,
        &__thanks-close {
            top: 20px;
            right: 20px;
        }

        &__dialog-title,
        &__thanks-title {
            font-size: 28px;
            line-height: 36px;
        }

        &__dialog-descr,
        &__thanks-descr {
            font-size: 24px;
            line-height: 32px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .header {
        &__logo {
            img {
                width: 177px;
                height: 32px;
            }
        }

        &__button {
            display: none;
        }

        &__button-mobile {
            display: block;
            border: none;
            background: transparent;
            cursor: pointer;
        }
    }

    .main {
        padding-bottom: 34px;
    }

    .promo {
        padding-top: 37px;
        min-height: 540px;

        &__subtitle-medium {
            font-size: 18px;
            line-height: 22px;
            width: 300px;
            padding: 0 10px;
            text-align: left;
            margin-bottom: 25px;
        }

        &__text {
            width: 300px;
            padding: 0 10px;
        }

        &__title {
            position: relative;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 22px;

            &::before {
                content: '';
                position: absolute;
                width: 60px;
                height: 100px;
                right: -20px;
                top: 10px;
                background: url('../img/promo/promo-title-before.svg') center no-repeat;
            }
        }

        &__image-after {
            display: none;
        }

        &__arrow {
            display: none;
        }

        &__text-button {
            display: block;
            width: 280px;
            margin: 0 auto;
        }

        &__image {
            width: 262px;
            height: 225px;
            margin-bottom: 18px;
        }
    }

    .modal {
        &__dialog {
            padding: 50px 10px 35px;
            width: 300px;
        }

        &__thanks {
            padding: 71px 27px 50px;
            width: 300px;
        }

        &__dialog-form {
            width: 280px;
        }

        &__dialog-title,
        &__thanks-title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 10px;
        }

        &__dialog-descr,
        &__thanks-descr {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 25px;
        }

        &__dialog-input,
        &__dialog-textarea {
            font-size: 15px;
            line-height: 18px;
        }

        &__dialog-close,
        &__thanks-close {
            top: 15px;
            right: 15px;

            img {
                width: 20px;
                height: 20px;
            }
        }

        &__thanks-image {
            width: 60px;
            height: 60px;
        }
    }
}